.monsterpic {
    width: 100px;
    height: auto;
}

td {
    vertical-align: middle;
    text-align: center;
}

body {
    background-color: whitesmoke;
}

table {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

tbody {
    background-color: white;
}

h1 {
    text-align: center;
    padding: 10px;
}

#imgMonster {
    width: 150px;
    height: auto;
}

#monsterid, #monsterspec, th {
    text-align: center;
}

.elementsImg {
    width: 50px;
    height: auto;
}

.block {
    letter-spacing: -8px;
    display: inline-block;
    width: 8px;
    height: 14px;
    overflow: hidden;
    padding: 0;
    line-height: 1;
}